<form id="searchMovie" class="" action="./api/fetch" method="get">
  <input id="title" type="text" name="title" value="" placeholder="Title">
  <input id="year" type="text" name="year" value="" placeholder="Year">
  <select id="type" class="" name="type">
    <option value="">Anything</option>
    <option value="movie">Movie</option>
    <option value="series">Series</option>
    <option value="episode">Episode</option>
  </select>
  <input type="submit" value="Search!">
</form>

<script src="/js/forms.js" charset="utf-8"></script>
